{% include 'base.html.twig' %}
{% block body %}
    {% for project in projects %}
        <div class="projects">
            <div class="projects_project">
                <div class="projects_image-logo">
                    <div class="projects_image">
                        <img src="assets/images/project/{{ project.picture }}">
                    </div>
                    <div class="projects_logo">
                        <img src="assets/images/logo/{{ project.langage }}">
                    </div>
                </div>
                <div class="projects_text">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.synopsis }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
